[Unit]
Description=Checks connected displays
After=sleep.target

[Service]
Environment=DISPLAY=:0
ExecStart=/home/daniel/.i3/bin/toggle_mon.sh

[Install]
WantedBy=sleep.target
