#
# sway: bars.config
#

# Main status bar
bar {
       status_command $configdir/i3blocks/i3blocks -c $configdir/i3blocks.conf 
       position top
       font pango:Literation Mono Powerline 12 
       id bar-0
       mode dock
       tray_output none
       workspace_buttons yes
       separator_symbol ""
}


# Network bar with tray icons
bar {
        status_command i3status -c $configdir/status-net
        position bottom
        font pango:Literation Mono Powerline 12
        mode dock
        id bar-1
        tray_output *
        tray_bindsym button1 ContextMenu
        workspace_buttons no
        separator_symbol "  "
}
