#
# sway: media-keys.config
#

## Audio controls
bindsym XF86AudioRaiseVolume exec amixer -q set Master 10%+ unmute
bindsym XF86AudioLowerVolume exec amixer -q set Master 10%- unmute
bindsym XF86AudioMute exec amixer -q set Master toggle
bindsym XF86AudioMicMute exec amixer -q set Capture toggle

# Sreen brightness controls
bindsym XF86MonBrightnessUp exec brightnessctl s +50 # increase screen brightness
bindsym XF86MonBrightnessDown exec brightnessctl s 50- # decrease screen brightness
