exec mako --anchor bottom-right

# Popup notifications definitions
for_window [window_role="pop-up"] floating enable
for_window [class="Zeal"] floating enable
for_window [title="Microsoft Teams Notification"] floating enable
for_window [title="Microsoft Teams-Benachrichtigung"] floating enable
for_window [class="Insync"] floating enable
