# Copy screen to clipboard
bindsym $mod+Print exec grim -g "$(slurp)" - | wl-copy

# Screenshot to tmp:
bindsym $mod+Shift+Print exec grim -g "$(slurp)" /tmp/screenshot-"$(date +%s)".png

# Examples
## Take a screenshot: 
# grim screenshot.png
## Take a screenshot of current window:
# grim -g "$(swaymsg -t get_tree | jq -r '.. | select(.focused?) | .rect | "\(.x),\(.y) \(.width)x\(.height)"')" ~/screenshot.png

## Take a screenshot of a part of the screen:
# grim -g "$(slurp)" screenshot.png

## Capture a video of the whole screen:
# wf-recorder -o recording.mp4

## Capture a video of a part of the screen:
#  wf-recorder -g "$(slurp)"

